.productItem {
    width:350px;
    float: left;
    border:1px solid #eee;
    margin: 5px;
    padding: 8px;
}

.productItem:hover {
    border:1px solid #ccc;
}

.productItem img{
    max-height:200px;
    display: block;
    margin: 0 auto;
}

.priceTag {
    font-weight: bold;
    color:#121a79;
}

.productItem a{
    padding: 4px 6px;
    background: rgb(255, 72, 0);
    border-radius: 3px;
    color: #eee;
    text-decoration: none;
    font-weight: bold;
}